<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <!-- dashboard -->

    <section class="dashboard">
        <div class="top-fix">
            <span class="item hover">
                <span class="icon fas fa-clipboard-list"></span>
                <span class="text">Việc cần làm</span>
            </span>
            <span class="item hover">
                <span class="icon far fa-calendar"></span>
                <span class="text">Lịch</span>
            </span>
        </div>
        <div class="allclass">
            <div class="class-room">
                <div class="top">
                    <div class="class-name">Đồ họa máy tính</div>
                    <div class="class">(60TH4)</div>
                    <div class="teacher">Ngô Trường Giang</div>
                </div>
                <div class="avatar-teacher"><img
                        src="https://png.pngtree.com/element_our/20190530/ourlarge/pngtree-520-couple-avatar-boy-avatar-little-dinosaur-cartoon-cute-image_1263411.jpg"
                        alt="">
                </div>
                <div class="bottom">
                    <div class="item hover"><i class="fas fa-tasks home-work"></i></div>
                    <div class="item hover"><i class="far fa-file-alt document"></i></div>
                </div>
            </div>
            <div class="class-room">
                <div class="top">
                    <div class="class-name">Đồ họa máy tính</div>
                    <div class="class">(60TH4)</div>
                    <div class="teacher">Ngô Trường Giang</div>
                </div>
                <div class="avatar-teacher"><img
                        src="https://png.pngtree.com/element_our/20190530/ourlarge/pngtree-520-couple-avatar-boy-avatar-little-dinosaur-cartoon-cute-image_1263411.jpg"
                        alt="">
                </div>
                <div class="bottom">
                    <div class="item hover"><i class="fas fa-tasks home-work"></i></div>
                    <div class="item hover"><i class="far fa-file-alt document"></i></div>
                </div>
            </div>
            <div class="class-room">
                <div class="top">
                    <div class="class-name">Đồ họa máy tính</div>
                    <div class="class">(60TH4)</div>
                    <div class="teacher">Ngô Trường Giang</div>
                </div>
                <div class="avatar-teacher"><img
                        src="https://png.pngtree.com/element_our/20190530/ourlarge/pngtree-520-couple-avatar-boy-avatar-little-dinosaur-cartoon-cute-image_1263411.jpg"
                        alt="">
                </div>
                <div class="bottom">
                    <div class="item hover"><i class="fas fa-tasks home-work"></i></div>
                    <div class="item hover"><i class="far fa-file-alt document"></i></div>
                </div>
            </div>
            <div class="class-room">
                <div class="top">
                    <div class="class-name">Đồ họa máy tính</div>
                    <div class="class">(60TH4)</div>
                    <div class="teacher">Ngô Trường Giang</div>
                </div>
                <div class="avatar-teacher"><img
                        src="https://png.pngtree.com/element_our/20190530/ourlarge/pngtree-520-couple-avatar-boy-avatar-little-dinosaur-cartoon-cute-image_1263411.jpg"
                        alt="">
                </div>
                <div class="bottom">
                    <div class="item hover"><i class="fas fa-tasks home-work"></i></div>
                    <div class="item hover"><i class="far fa-file-alt document"></i></div>
                </div>
            </div>
            <div class="class-room">
                <div class="top">
                    <div class="class-name">Đồ họa máy tính</div>
                    <div class="class">(60TH4)</div>
                    <div class="teacher">Ngô Trường Giang</div>
                </div>
                <div class="avatar-teacher"><img
                        src="https://png.pngtree.com/element_our/20190530/ourlarge/pngtree-520-couple-avatar-boy-avatar-little-dinosaur-cartoon-cute-image_1263411.jpg"
                        alt="">
                </div>
                <div class="bottom">
                    <div class="item hover"><i class="fas fa-tasks home-work"></i></div>
                    <div class="item hover"><i class="far fa-file-alt document"></i></div>
                </div>
            </div>
            <div class="class-room">
                <div class="top">
                    <div class="class-name">Đồ họa máy tính</div>
                    <div class="class">(60TH4)</div>
                    <div class="teacher">Ngô Trường Giang</div>
                </div>
                <div class="avatar-teacher"><img
                        src="https://png.pngtree.com/element_our/20190530/ourlarge/pngtree-520-couple-avatar-boy-avatar-little-dinosaur-cartoon-cute-image_1263411.jpg"
                        alt="">
                </div>
                <div class="bottom">
                    <div class="item hover"><i class="fas fa-tasks home-work"></i></div>
                    <div class="item hover"><i class="far fa-file-alt document"></i></div>
                </div>
            </div>
        </div>
        

    </section>


    <!-- font-awesome -->
    <script src="https://kit.fontawesome.com/85cb170793.js" crossorigin="anonymous"></script>
</body>

</html>