<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <!-- header và nav -->
    <section class="header">
        <nav class="nav">
            <div class="action">
                <div class="class-name">
                    <span class="fas fa-bars"></span>
                    <div class="detail">
                        <p class="name">Đồ họa máy tính akjbja baka d </p>
                        <p class="class">(60TH4)</p>
                    </div>
                </div>
                <div class="join-avatar">
                    <div class="join fas fa-plus hover">
                        <ul class="ul-join">
                            <li class="li-join hover" data="aaa">Tạo lớp học</li>
                            <li class="li-join hover">Tham gia lớp học</li>
                        </ul>
                    </div>
                    <div class="avatar"></div>
                </div>
            </div>

        </nav>
        <div class="option">
            <div class="option-item hover">
                <p class="content">Bảng tin</p>
                <p class="border"></p>
            </div>
            <div class="option-item hover">
                <p class="content">Bài tập về nhà</p>
                <p class="border"></p>
            </div>
            <div class="option-item hover">
                <p class="content">Mọi người</p>
                <p class="border"></p>
            </div>
        </div>
    </section>


    <!-- font-awesome -->
    <script src="https://kit.fontawesome.com/85cb170793.js" crossorigin="anonymous"></script>
</body>

</html>