<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <!-- header và nav -->
    <section class="header">
        <nav class="nav">
            <div class="action">
                <div class="class-name">
                    <span class="fas fa-bars"></span>
                    <div class="detail">
                        <p class="name">Đồ họa máy tính akjbja baka d </p>
                        <p class="class">(60TH4)</p>
                    </div>
                </div>
                <div class="join-avatar">
                    <div class="join fas fa-plus hover">
                        <ul class="ul-join">
                            <li class="li-join hover" data="aaa">Tạo lớp học</li>
                            <li class="li-join hover">Tham gia lớp học</li>
                        </ul>
                    </div>
                    <div class="avatar"></div>
                </div>
            </div>

        </nav>
        <div class="option">
            <div class="option-item hover">
                <p class="content">Bảng tin</p>
                <p class="border"></p>
            </div>
            <div class="option-item hover">
                <p class="content">Bài tập về nhà</p>
                <p class="border"></p>
            </div>
            <div class="option-item hover">
                <p class="content">Mọi người</p>
                <p class="border"></p>
            </div>
    </section>
    <!-- <hr> -->

    <!-- tab bên trái -->
    <section class="tab">
        <div class="contain border-bottom">
            <!-- nếu được chọn thì thêm class active -->
            <div class="item hover">
                <span class="icon fas fa-home"></span>
                <span class="text">Lớp học</span>
            </div>
            <div class="item hover">
                <span class="icon far fa-calendar"></span>
                <span class="text">Lịch</span>
            </div>
        </div>

        <!-- //đây là phần đã đăng ký -->
        <div class="contain border-bottom">
            <p style="padding: 10px;font-weight: 600; color: rgb(170, 170, 170)">Đã đăng ký</p>
            <div class="item hover">
                <span class="icon fas fa-clipboard-list"></span>
                <span class="text">Việc cần làm</span>
            </div>
            <!-- //thẻ này là các lớp đã đăng kí -->
            <div class="item hover class-active">
                <div class="icon represent">
                    <div>Đ</div>
                </div>
                <div class=" text detail">
                    <p class="name">Đồ họa máy tính akjbja baka d </p>
                    <p class="class">(60TH4)</p>
                </div>
            </div>
        </div>

        <div class="contain">
            <div class="item hover">
                <span class="icon fas fa-cloud-download-alt"></span>
                <span class="text">Lớp học đã lưu trữ</span>
            </div>
            <div class="item hover">
                <span class="icon fas fa-cog"></span>
                <span class="text">Cài đặt</span>
            </div>
        </div>

    </section>
    <hr>

    <!-- dashboard -->
    <section class="dashboard">
        <div class="top-fix">
            <span class="item hover">
                <span class="icon fas fa-clipboard-list"></span>
                <span class="text">Việc cần làm</span>
            </span>
            <span class="item hover">
                <span class="icon far fa-calendar"></span>
                <span class="text">Lịch</span>
            </span>
        </div>
        <div class="allclass">
            <div class="class-room">
                <div class="top">
                    <div class="class-name">Đồ họa máy tính</div>
                    <div class="class">(60TH4)</div>
                    <div class="teacher">Ngô Trường Giang</div>
                </div>
                <div class="avatar-teacher"><img
                        src="https://png.pngtree.com/element_our/20190530/ourlarge/pngtree-520-couple-avatar-boy-avatar-little-dinosaur-cartoon-cute-image_1263411.jpg"
                        alt="">
                </div>
                <div class="bottom">
                    <div class="item hover"><i class="fas fa-tasks home-work"></i></div>
                    <div class="item hover"><i class="far fa-file-alt document"></i></div>
                </div>
            </div>
            <div class="class-room">
                <div class="top">
                    <div class="class-name">Đồ họa máy tính</div>
                    <div class="class">(60TH4)</div>
                    <div class="teacher">Ngô Trường Giang</div>
                </div>
                <div class="avatar-teacher"><img
                        src="https://png.pngtree.com/element_our/20190530/ourlarge/pngtree-520-couple-avatar-boy-avatar-little-dinosaur-cartoon-cute-image_1263411.jpg"
                        alt="">
                </div>
                <div class="bottom">
                    <div class="item hover"><i class="fas fa-tasks home-work"></i></div>
                    <div class="item hover"><i class="far fa-file-alt document"></i></div>
                </div>
            </div>
        </div>


    </section>

    <hr>
    <!-- insideclass -->
    <section class="insideclass">
        <div class="main">
            <div class="classname">
                <p>Đồ họa máy tính</p>
                <p>(60th4)</p>
            </div>
            <div class="detail">
                <div class="deadline">
                    <p>Sắp đến hạn</p>
                    <p>Tuyệt vời, không có bài tập nào sắp đến hạn!</p>
                    <p>Xem tất cả</p>
                </div>
                <div class="newfeed">
                    <div class="create-noti">
                        <div class="avatar-user"></div>
                        <p>Tạo thông báo mới cho lớp học của bạn</p>
                    </div>
                    <div class="new-noti">
                        <div class="icon-noti"></div>
                        <div>
                            <p>Ngô Trường Giang đã đăng 1 tài liệu mới: Slide</p>
                            <p> 27 thg 4</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- font-awesome -->
    <script src="https://kit.fontawesome.com/85cb170793.js" crossorigin="anonymous"></script>
</body>

</html>