<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <section class="insideclass">
        <div class="main">
            <div class="classname">
                <p>Đồ họa máy tính</p>
                <p>(60th4)</p>
            </div>
            <div class="detail">
                <div class="deadline">
                    <p>Sắp đến hạn</p>
                    <p>Tuyệt vời, không có bài tập nào sắp đến hạn!</p>
                    <p>Xem tất cả</p>
                </div>
                <div class="newfeed">
                    <div class="create-noti">
                        <div class="avatar-user"></div>
                        <p>Tạo thông báo mới cho lớp học của bạn</p>
                    </div>
                    <div class="new-noti">
                        <div class="icon-noti"></div>
                        <div>
                            <p>Ngô Trường Giang đã đăng 1 tài liệu mới: Slide</p>
                            <p> 27 thg 4</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>