<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <div class="navigate border-bottom">
            <div>
                <span class="fas fa-times"></span>
                <span>Tham gia lớp học</span>
            </div>
            <button>Tham gia</button>
        </div>

        <div class="joincode">
            <p>Mã lớp</p>
            <p>Đề nghị giáo viên cung cấp mã lớp rồi nhập mã đó vào đây</p>
            <input type="text" name="" id="" placeholder="Mã lớp">
        </div>
        <div class="tutorial">
            <h4>Cách đăng nhập bằng mã lớp học</h4>
            <ul>
                <li>
                    Sử dụng tài khoản đã đăng ký class room
                </li>
                <li>
                    Sử dụng mã lớp học gồm 5-7 chữ cái hoặc số, không có dấu cách hoặc ký hiệu
                </li>
            </ul>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/85cb170793.js" crossorigin="anonymous"></script>

</body>

</html>