<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="notfound">
        <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_c8szgzpw.json" background="transparent"
        style="width: 500px; height: 500px;" speed="1" autoplay></lottie-player>
        <a href="">Quay lại trang chủ</a>
    </div>

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

</body>

</html>