<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <!-- tab bên trái -->
    <section class="tab">
        <div class="contain border-bottom">
            <div class="item hover">
                <span class="icon fas fa-home"></span>
                <span class="text">Lớp học</span>
            </div>
            <div class="item hover">
                <span class="icon far fa-calendar"></span>
                <span class="text">Lịch</span>
            </div>
        </div>

        <!-- //đây là phần đã đăng ký -->
        <div class="contain border-bottom">
            <p style="padding: 10px;font-weight: 600; color: rgb(170, 170, 170)">Đã đăng ký</p>
            <div class="item hover">
                <span class="icon fas fa-clipboard-list"></span>
                <span class="text">Việc cần làm</span>
            </div>
            <!-- //thẻ này là các lớp đã đăng kí -->
            <div class="item hover class-active">
                <div class="icon represent">
                    <div>Đ</div>
                </div>
                <div class=" text detail">
                    <p class="name">Đồ họa máy tính akjbja baka d </p>
                    <p class="class">(60TH4)</p>
                </div>
            </div>
        </div>


        <div class="contain">
            <div class="item hover">
                <span class="icon fas fa-cloud-download-alt"></span>
                <span class="text">Lớp học đã lưu trữ</span>
            </div>
            <div class="item hover">
                <span class="icon fas fa-cog"></span>
                <span class="text">Cài đặt</span>
            </div>
        </div>

    </section>


    <!-- font-awesome -->
    <script src="https://kit.fontawesome.com/85cb170793.js" crossorigin="anonymous"></script>
</body>

</html>