/* classroom */

.dashboard .allclass .class-room {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 300px;
    margin: 30px 20px;
    height: fit-content;
    border: 1px solid #e0e0e0;
    color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.class-room .top {
    padding: 20px;
    background: url('https://www.gstatic.com/classroom/themes/img_read.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    color: white;
    width: 100%;
}
.top .hover {
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 30px;
    background: transparent;
    transition: all 0.2s;
    position: relative;
}
.top a {
    color: #fff;
    width: 80%;
}
.top a:hover {
    text-decoration: underline;
    color: #fff;
}
.top .hover:hover {
    background: rgba(201, 201, 201, 0.479);
    color: #fff;
}

.hover .action {
    background: white;
    color: var(--color-text);
    padding: 0;
    border-radius: 5px;
    min-width: 100px;
    position: absolute;
    right: -5px;
    z-index: 20;
    font-size: 14px;
    overflow: hidden;
}
.hover .action p {
    padding: 5px 10px;
    letter-spacing: 0.5px;
}
.hover .action p:hover {
    background: rgb(231, 231, 231);
}
.hover .hidden {
    visibility: hidden;
}
.top {
    width: 100%;
}
.top .class-name {
    font-size: 30px;
    height: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.top .class,
.teacher {
    font-size: 14px;
}
.avatar-teacher {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    overflow: hidden;
    transform: translate(180px, -40px);
}
.avatar-teacher img {
    height: 100px;
    width: 100px;
    padding: 0;
    margin: 0;
    z-index: 0;
}
.class-room .bottom {
    border-top: 1px solid #e0e0e0;
    color: rgb(51, 51, 51);
    display: flex;
    justify-content: flex-end;
}
.bottom .item {
    height: 50px;
    width: 50px;
    margin: 10px 10px 10px 0;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom .item i {
    font-size: var(--size-icon);
    padding: 20px;
    color: var(--color-icon);
}

/* ------------------------------- */
.edit-nameclass .form-edit {
    background: rgba(0, 0, 0, 0.3);
    width: calc(100vw - 6px);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
.edit-nameclass .form-edit .write-noti {
    width: minmax(300px, 70%);
    width: 70%;
    /* border-radius: 10px; */
    /* box-shadow: 0 1px 5px rgb(201, 201, 201); */
    padding: 20px 25px;
    background: #fff;
}
.edit-nameclass .form-edit .write-noti p {
    font-size: 12px;
    color: black;
    /* padding: 20px; */
}
.edit-nameclass .form-edit .write-noti form {
    display: flex;
    flex-direction: column;
    background: #fff;
}
.edit-nameclass .form-edit .write-noti form input {
    background-color: #f1f3f4;
    outline: none;
    border: none;
    width: 100%;
    overflow: auto;
    padding: 10px 20px;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 0 0 10px 10px;
    color:rgb(51, 51, 51)
}
.edit-nameclass .form-edit .btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.edit-nameclass .form-edit .write-noti form button {
    outline: none;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 20px;
    padding: 10px;
    transition: all 0.3s;
}
.edit-nameclass .form-edit .write-noti form button:nth-child(1) {
    background-color: transparent;
    color:rgb(51, 51, 51)
}
.edit-nameclass .form-edit .write-noti form button:nth-child(1):hover {
    background-color: #e0e0e0;
}
.edit-nameclass .form-edit .write-noti form button:nth-child(2) {
    padding: 10px 20px;
    margin: 0 10px;
    outline: none;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    background-color: #e0e0e0;
}
