:root {
    --color-border: #e0e0e0;
    --color-text: rgb(60, 64, 67);
    --size-icon: 20px;
    --color-icon: #5f6368;
}
.dashboard {
    padding-top: 30px;
}

.class-room:hover {
    box-shadow: 0 0 10px rgb(218, 218, 218);
    transition: all 0.3s;
}

/* allclass để handle nhiều lớp thì nó xếp và xuống dòng */
.dashboard .allclass {
    display: flex;
    width: 100vw;
    padding: 0 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.noclass {
    margin: 0 auto;
    font-size: 30px;
    margin: 50px;
}
@media (max-width: 480px) {
    .allclass {
        justify-content: center;
    }
}
/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    .allclass {
        justify-content: center;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
    .dashboard .allclass {
        justify-content: center;
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { 
    .allclass {
        justify-content: center;
    }
 }