:root {
    --color-border: #e0e0e0;
    --color-text: rgb(60, 64, 67);
    --size-icon: 20px;
    --color-icon: #5f6368;
}
.dashboard {
    padding-top: 30px;
}

.class-room:hover {
    box-shadow: 0 0 10px rgb(218, 218, 218);
    transition: all 0.3s;
}

/* allclass để handle nhiều lớp thì nó xếp và xuống dòng */
.dashboard .allclass {
    display: flex;
    width: 100vw;
    padding: 0 20px;
    flex-wrap: wrap;
}

/* classroom */

.dashboard .allclass .class-room {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin: 30px 20px;
    height: fit-content;
    border: 1px solid #e0e0e0;
    color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.class-room .top {
    padding: 20px;
    background: url("https://www.gstatic.com/classroom/themes/img_read.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    color: white;
}
.top .hover {
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 30px;
    background: transparent;
    transition: all 0.2s;
    position: relative;
}
.top a {
    color: #fff;
}
.top a:hover {
    text-decoration: underline;
    color: #fff;
}
.top .hover:hover {
    background: rgba(201, 201, 201, 0.479);
    color: #fff;
}

.hover .action {
    background: white;
    color: var(--color-text);
    padding: 0;
    border-radius: 5px;
    min-width: 100px;
    position: absolute;
    right: -5px;
    z-index: 20;
    font-size: 14px;
    overflow: hidden;
}
.hover .action p {
    padding: 5px 10px;
    letter-spacing: 0.5px;
}
.hover .action p:hover {
    background: rgb(231, 231, 231);
}
.hover .hidden {
    visibility: hidden;
}
.top .class-name {
    font-size: 30px;
}
.top .class,
.teacher {
    font-size: 14px;
}
.avatar-teacher {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    overflow: hidden;
    transform: translate(180px, -40px);
}
.avatar-teacher img {
    height: 100px;
    width: 100px;
    padding: 0;
    margin: 0;
    z-index: 0;
}
.class-room .bottom {
    border-top: 1px solid #e0e0e0;
    color: rgb(51, 51, 51);
    display: flex;
    justify-content: flex-end;
}
.bottom .item {
    height: 50px;
    width: 50px;
    margin: 10px 10px 10px 0;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom .item i {
    font-size: var(--size-icon);
    padding: 20px;
    color: var(--color-icon);
}

.noclass {
    margin: 0 auto;
    font-size: 30px;
    margin: 50px;
}
@media (max-width: 480px) {
    .allclass {
        justify-content: center;
    }
}
