.memberlist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}
.memberlist .teacher{
    width: 100%;
    margin-bottom: 30px;
}

 /* dùng chung */
 .role{
    display: flex;
    border-bottom: 1px solid #000;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.role p:nth-child(1){
    font-size: 30px;
    padding: 10px 0;
}
.line{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    position: relative;
}
.line:hover{
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
}
/* --------- */

.line .name{
    padding-left: 30px;
    font-size: 16px;
    font-weight: 600;
}

.line .action {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--color-text);
}
.line .action span {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
}
.action .delete p {
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding: 10px 15px;
    position: absolute;
    background: #fff;
    right: 10px;
    transition: all 0.2s;
}
.action .delete p:hover {
    background: rgb(238, 238, 238);
    transition: all 0.1s;
}