.wraper-setting{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    min-width: 400px;
    width: 70%;
    margin: 0 auto;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    margin-top: 20px;
    padding: 30px 0;
}
.setting {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.wraper-setting .profile {
    font-size: 30px;
    padding-bottom: 20px;
}
.wrapper-input {
    display: flex;
    align-items: center;
    margin: 20px;
    width: 40%;
    min-width: 300px;
}
.wrapper-input p {
    width: 40%;
    font-size: 16px;
    color: var(--color-text);

}
.setting .input {
    width: 70%;
    outline: none;
    border: none;
    background: rgb(236, 236, 236);
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 20px;
    font-size: 16px;
    border-bottom: 3px solid transparent;
}
.setting .input:focus {
    border-bottom: 3px solid rgb(96, 96, 255);
    transition: border 0.2s;
}
.wraper-setting .button-setting {
    margin: 40px 0 0 20px;
    outline: none;
    border: none;
    font-size: 20px;
    padding: 20px;
    width: 50%;
    align-self: center;
    border-radius: 5px;
    transition: all 0.2s;
}
.wraper-setting .button-setting:hover {
    background: rgb(84, 84, 255);
    color: #fff;
}
.wraper-setting .button-setting:active {
    background: rgb(84, 164, 255);
    color: #fff;
}
